
<footer class="footer">
    <div class="footer-element-left">
        <ul><b>Technology</b>
            <li class="item"><a href="https://www.w3schools.com/angular/">Angulary</a></li>
            <li class="item"><a href="https://www.w3schools.com/html/">HTML</a></li>
            <li class="item"><a href="https://www.w3schools.com/css/">CSS</a></li>
            <li class="item"><a href="https://www.w3schools.com/typescript/">TypeScript</a></li>
            <li class="item"><a href="https://www.w3schools.com/js/js_json_intro.asp">Json</a></li>
        </ul>
    </div>
    <div class="footer-element-center"> 
        <ul class="center-about"><b>About</b>
           <li> <a href="https://www.hcpss.org/"><img src="../../assets/resource/hcpss.png" alt="hcpss"></a> </li>
           <li> <a href="https://rhhs.hcpss.org/"><img src="../../assets/resource/rhhs-sm.png" alt="rhhs"></a> </li>
           <li> <a href="https://www.fbla.org/divisions/fbla/fbla-competitive-events/" alt="fbla"><img src="../../assets/resource/fbla.png"></a> </li>
        </ul>
        <ul class="center-about"><b>Media</b>
            <li> <a href="https://www.instagram.com/hocoschools/?hl=en"><img src="../../assets/resource/ins.png" alt="instegram"></a> </li>
            <li> <a href="https://www.facebook.com/rhhshawkpride"><img src="../../assets/resource/facebook.jpg" alt="facebook"></a> </li>
            <li> <a href="https://twitter.com/mdfbla?lang=en/"><img src="../../assets/resource/twitter.jpg" alt="twitter"></a> </li>
         </ul>
    </div>
    <div class="footer-element-right">
        <div class="contact-div"><b>Contact</b>
            <div class="item"><b>Address:</b> 12101 Clarksville Pike, Clarksville, MD 21029</div>
            <div class="item"><b>Phone:</b> (410) 313-7120</div>
            <div class="item"><b>Fax:</b> (410) 313-7406</div>
        </div>
    </div>
</footer>  
