
<div class="container">
    <div class="container-gpa" >
        <label class="warning" class="warning-top" *ngIf="courseFlag">*Please select at least one course to calculate GPA</label>
        <label *ngIf="gpaFlag" class="gpa">Your weighted GPA is {{wgpa| number:'1.2-2'}}, unweighted GPA is {{uwgpa| number:'1.2-2'}}</label>
    </div>
    <div class="container-course">
            <div>
                <div class="form-group">
                    <div>
                        <label>Select Your Course: </label>
                        <mat-form-field class="mat-select">
                            <mat-select [(ngModel)]="selectedCourse">
                                <mat-option><b>{{defaultCourse.name}}</b></mat-option>
                                <input class="search-course" (keyup)="onKey($event.target)" placeholder="Search course here"> 
                                <mat-option *ngFor="let item of filteredCourses" [value]="item">{{item.courseId}}.{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>                        
                    </div>
                    <label class="warning" *ngIf="duplicateFlag">*this course is already added into your courses.</label>
                    <div>
                        <label>Enter your Grade: </label>
                        <input type="text" id="grade" class="score" [(ngModel)]="score" />
                    </div>            
                    <label class="warning" *ngIf="gradeFlag">*grade should be a number that is larger than 0 and smaller than and equal to 100 .</label>
                    <button type="submit" class="button2" (click)="onAddCourse()">Add Course</button>
                </div>
            </div>
    </div>
    <div class ="container-table">
        <div class = "card">
            <div class = "card-body">
                <table class="table table-striped">
                    <thead>
                        <th> Name</th>
                        <th> Description</th>
                        <th> type </th>
                        <th> credit </th>
                        <th> score </th>
                        <th> grade </th>
                        <th>  </th>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let item of selectedCourses; let i = index">
                            <td> {{ item.name}} </td>
                            <td> {{ item.description}} </td>
                            <td> {{ item.type}}</td>
                            <td> {{ item.credit}}</td>
                            <td> {{ item.score}}</td>
                            <td> {{ item.grade}}</td>
                            <td> <button (click) = "deleteRow(i)"><img src="assets/resource/trash.png" alt="Delete"></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class ="container-button">
        <button type="submit" class="buttons" (click)="onGPA()">Calculate GPA</button>
        <button type="submit" class="buttons" [disabled]="isSaveButtonDisabled" (click)="onSave()">Save</button>
        <button type="submit" class="buttons" (click)="clear()">Clear</button>
    </div>
</div>

