/* Basic styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 3%;
    background-color: rgb(170, 221, 241); /* Light grey background */
    border-top: 2px solid #e1f184;
    border-bottom: 2px solid #e1f184;
}

.title {
    display: flex;
    align-items: center;
}

/* School logo */
.school-logo {
    width: 100px;
    height: auto; /* Maintain aspect ratio */
    margin-right: 50px; /* Space between logo and school name */
}

/* School name */
.school-name {
    font-size: 3rem;
    font-weight: bold;
    white-space: nowrap; /* Prevent text wrapping */
}

/* Button styling */
.auth-buttons .btn {
    margin-left: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .school-name {
        font-size: 1.5rem; /* Smaller font size for mobile view */
        text-align: center;
        margin-bottom: 10px;
    }

    .auth-buttons {
        display: flex;
        gap: 10px;
    }

    .auth-buttons .btn {
        font-size: 0.9rem;
        width: 100px; /* Adjust width for mobile view */
    }
}
