
.title{
    background-image:url('../../../assets/resource/download.png');
    background-color: skyblue;
    background-size: 100px ;
    background-position: 20% 50%;
    height:100px;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 40px;
    color: white;
}

:host ::ng-deep .p-button {
    background-color: #F7F493; /* Blue background */
    color:#0056b3; /* White text */
    border: none; /* Remove border */
    font-weight: bold; /* Bold font */
    font-size: 16px; /* Font size */
}

:host ::ng-deep .p-button:hover {
    background-color: #0056b3; /* Darker blue for hover state */
    color: #ffffff; /* Ensure text color stays white */
}

button{
    width: 10%;
    background-color: #215272;
    height:50px;
    border-color: white;
    color: yellow;
}

.toolbar>button{
    float:right;
}