.confirmation-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .confirmation-modal p {
    margin-bottom: 15px;
  }
  
  .confirmation-modal .btn-secondary {
    display: block;
    margin: 0 auto;
  }
  