<div class="job-management">
  <div class="job-grid">
    <div class="job-card" *ngFor="let job of jobs">
      <h3>{{ job.title }}</h3>
      <p><strong>Employer:</strong> {{ job.employer }}</p>
      <p><strong>Location:</strong> {{ job.location }}</p>
      <p><strong>Salary:</strong> {{ job.salary }}</p>
      <p><strong>Type:</strong> {{ job.jobType }}</p>
      <p><strong>Level:</strong> {{ job.level }}</p>
      <p><strong>Description:</strong> {{ job.description }}</p>
      <label for="status">Status:</label>
      <select [(ngModel)]="job.status">
        <option value="new">New</option>
        <option value="approved">Approve</option>
        <option value="deleted">Delete</option>
      </select>
      <button (click)="updateJobStatus(job)" class="btn btn-primary save-button">Save</button>
    </div>
  </div>

  <!-- Pop-up Confirmation Message -->
  <div class="popup" *ngIf="showPopup">
    <div class="popup-content">
      <p>{{ confirmationMessage }}</p>
    </div>
  </div>
</div>
