
<div class="container">
    <h2>Calculate Your GPA with Ease</h2> 
    
    <p>Our GPA calculator simplifies the process of determining your grade point average. This tool helps you track and manage your academic performance effortlessly.</p>

    <div class="parent">
        <div class="box1">
            <p><strong>Key Features</strong></p>
            <ul>
                <li>Supports Different Grading Scales (4.0, 5.0, etc.)</li>
                <li>Easy-to-Use Interface for Quick Results</li>
                <li>Custom made website to best calculate your GPA</li>
                <li>Validates user inputs</li>
            </ul>
        </div>
        <div class="box1">
            <p><strong>Benefits</strong></p>
            <ul>
                <li>Plan Your Academic Goals Effectively</li>
                <li>Track Progress and Improve Performance</li>
                <li>Predict future weighted and unweighted gpa</li>
            </ul>
        </div>
    </div>
 
    <h3>HCPSS GPA standards</h3>
    <div class="context">
        <ol>
            <li>The cumulative GPA will be determined by multiplying the quality points for the final grade earned for each course by the credits assigned to the course, summing the results, and dividing by the total of the credits assigned to the courses taken.    </li>
            <br>
            <li>Weighted GPAs will be based on course level, with additional quality points added to designated courses.</li>
            <br>
            <li>Students must earn a grade of A, B, or C in a gifted & talented (GT) or advanced placement (AP) course in order to earn the weighted designation of 1.0 additional quality point per credit. Students must earn a grade of A, B, or C in an Honors course in order to earn the weighted designation of 0.5 additional quality point per credit. Students taking a dual enrollment course in a post-secondary institution for dual credit will receive the weighting for the highest possible equivalent offered by HCPSS, using the chart below.</li>
            <br>
            <li>The following chart summarizes quality points for weighted GPA purposes, where applicable:</li>
        </ol>

        <table>
            <tr>
                <th>Grade</th>
                <th >GT/AP weight</th>
                <th>Honors weight</th>
                <th>Regular weight</th>
                <th>Unweighted weight</th>
            </tr>
            <tr>
                <th>A (90-100%) - Outstanding level of achievement</th>
                <td>5.0</td>
                <td>4.5</td>
                <td>4.0</td>
                <td>4.0</td>
            </tr>
            <tr>
                <th>B (80-89%) - High level of achievement</th>
                <td>4.0</td>
                <td>3.5</td>
                <td>3.0</td>
                <td>3.0</td>
            </tr>
            <tr>
                <th>C (70-79%) - Satisfactory level of achievement</th>
                <td>3.0</td>
                <td>2.5</td>
                <td>2.0</td>
                <td>2.0</td> 
            </tr>
            <tr>
                <th>D (60-69%) - Low level of achievement</th>
                <td>1.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>1.0</td>
            </tr>
            <tr>
                <th>E (59% or lower) - Failure (no credit awarded for high school credited courses)</th>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
        </table>
    </div>
    <br>
</div>
<footer></footer>
