/* General Layout */
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    padding:1rem;
  }
  
  /* Wrapper to align sidebar and main content horizontally */
  .content-wrapper {
    display: flex;
    flex: 1; /* Takes available space between header and footer */
  }
  
  /* Sidebar Navigation Styles */
  .navigation {
    width: 250px; /* Fixed width for sidebar */
    background-color: #f4f4f4; /* Sidebar background color */
    background-image: url('/assets/resource/rh2.jpg'), url('/assets/resource/rh1.jpg'), 
    url('/assets/resource/rh3.jpg'), url('/assets/resource/rh4.jpg');
    background-size: cover; /* Ensure background images cover the sidebar */
    background-position: center; /* Center the background images */
    background-repeat: no-repeat; /* Prevent background images from repeating */
    padding: 1rem;
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    height: calc(100vh - 100px); /* Adjust height for header/footer (if each is 50px) */
    overflow-y: auto; /* Scrollable if content overflows */
  }
  
  .sidebar-links {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: background-image 0.3s ease-in-out;
  }
  
  
  .sidebar-links .btn {
    margin: 0.5rem 0;
    width: 100%; /* Full width for buttons */
  }
  
  /* Main Content Styles */
  .content-container {
    flex: 1; /* Takes the remaining space */
    padding: 1rem;
    background-color: #fff; /* Content background color */
    overflow-y: auto; /* Scrollable content area */
    max-width: calc(100% - 200px); /* Adjust width for sidebar */
  }
  
  /* Styling for Buttons */
  .btn {
    padding: 0.5rem;
    background-color: #6e86e7; /* Customize as desired */
    color: white;
    text-align: left; /* Align button text to the left */
    border: none;
    border-radius: 4px;
  }
  
  .btn:hover {
    background-color: #365a27; /* Hover effect */
  }
  