<div class="main-container">
  <app-header></app-header> <!-- Your header component -->

  <!-- Wrapper to organize sidebar and content side by side -->
  <div class="content-wrapper">
    <!-- Sidebar Navigation -->
    <div class="navigation">
      <div class="sidebar-links">
        <button routerLink="/job-list" routerLinkActive="active" class="btn">Job List</button>
        <button *ngIf="isUserRole('admin')" routerLink="/jobmanagement" routerLinkActive="active" class="btn">Job Management</button>
        <button *ngIf="isUserRole('admin')" routerLink="/userroleassignment" routerLinkActive="active" class="btn">Add User Role</button>
        <button *ngIf="isUserRole('admin')" routerLink="/addemployer" routerLinkActive="active" class="btn">Add Employer</button>
        <button *ngIf="isUserRole('employer')" routerLink="/jobposting" routerLinkActive="active" class="btn">Job Posting</button>
      </div>
    </div>

    <!-- Main Content Area -->
    <div class="content-container">
      <router-outlet></router-outlet> <!-- Main content is rendered here -->
    </div>
  </div>

  <app-footer></app-footer> <!-- Your footer component -->
</div>
