<div class="main-container">
  <app-header></app-header>

  <!-- Sidebar Toggle Button (for mobile view), moved to the top of the content container -->
  <button class="sidebar-toggle" *ngIf="isMobile" (click)="toggleSidebar()">
    &#9776; Navigation
  </button>

  <div class="content-wrapper">
    <!-- Sidebar Navigation, positioned to the left of the content on large screens -->
    <div class="navigation" [class.open]="isSidebarOpen || !isMobile">
      <div class="sidebar-links" [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }">
        <button routerLink="/job-list" routerLinkActive="active" class="btn">Job List</button>
        <button *ngIf="isUserRole('admin')" routerLink="/jobmanagement" routerLinkActive="active" class="btn">Job Management</button>
        <button *ngIf="isUserRole('admin')" routerLink="/userroleassignment" routerLinkActive="active" class="btn">Add User Role</button>
        <button *ngIf="isUserRole('admin')" routerLink="/addemployer" routerLinkActive="active" class="btn">Add Employer</button>
        <button *ngIf="isUserRole('employer')" routerLink="/jobposting" routerLinkActive="active" class="btn">Job Posting</button>
      </div>
    </div>

    <!-- Main Content Area -->
    <div class="content-container" [class.blurred]="isSidebarOpen && isMobile">
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-footer></app-footer>
</div>
