<div class="job-postings-container">
    <div class="job-posting" *ngFor="let job of jobPostings">
      <!-- Employer Section -->
      <div class="employer-info">
        <img [src]="job.logo" alt="Employer Logo" class="employer-logo" />
        <span class="employer-name">{{ job.employer }}</span>
      </div>
  
      <!-- Job Details Section -->
      <h4>{{ job.title }}</h4>
      <p>{{ job.description }}</p>
  
      <!-- Delete Button at the Bottom -->
      <button (click)="deleteJob(job.id)">Delete</button>
    </div>
  </div>
  